.kitchen {
    display: block;
    position: absolute;
    left: 30px;
}

.kitchen--1 {
    background-color: rgb(255, 0, 0);
    font-family: "Momo Signature", cursive;
}


.kitchen--2{ 
    font-family: "Rubik 80s Fade", system-ui;
     color: rgb(89, 230, 8);
     background-color: rgb(93, 6, 255);
}

.kitchen--3 {
    font-size: 30px;
    color: blue;
}