.living {
    display: block;
    position: absolute;
    right: 30px;
}


.living--t {
    color: rgb(255, 255, 255);
    font-family: "Sixtyfour", sans-serif;
}


.living--3 {
    font-family: "Noto Sans Syriac Western", sans-serif;
}


.living--1 {
    font-family: "Dancing Script", cursive;
    font-size: 30px;
    color: aqua;
    background-color: blue;
}